<form>
    <div class="mb-3 row">
        <div class="col-xs-3 col-sm-auto">
            <h2>{{ 'DXCC.TITLE' | translate }}</h2>
        </div>
        <div class="col-xs-3 col-sm-auto loader">
            <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Filter</label>
        <div class="col-xs-3 col-sm-auto">
            <input id="table-complete-search" type="text" class="form-control" name="searchTerm"
                [(ngModel)]="searchTerm">
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prefix</th>
                <th scope="col">DXCC name</th>
                <th *ngFor="let band of bands" scope="col">{{band}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dxccRow of dxccRows | paginate: { itemsPerPage: pageSize,
                                                        currentPage: page,
                                                        totalItems: total };
                  let index=index" (click)="onSelect(dxccRow)" style="cursor: pointer"
                [ngClass]="{'data-selected': selectedDxccRow && dxccRow.countryId === selectedDxccRow.countryId}">
                <th scope="row">{{ index + 1 }}</th>
                <td>
                    <ngb-highlight [result]="dxccRow.countryPrefix" [term]="searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="dxccRow.countryName" [term]="searchTerm"></ngb-highlight>
                </td>
                <td *ngFor="let band of bands" class='hover-text' [ngClass]="getCallSigns(dxccRow, band) != ''? 'hover-text mark-triagle' : 'hover-text'">
                    <div>
                        <ngb-highlight [result]="getConfirmed(dxccRow, band)"></ngb-highlight>
                    </div>
                    <span *ngIf="getCallSigns(dxccRow, band) != ''" class='tooltip-text' [innerText]="getCallSigns(dxccRow, band)"></span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="handlePageChange($event)"></pagination-controls>

        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="pageSize"
            (change)="handlePageSizeChange($event)">
            <option *ngFor="let size of pageSizes" [value]="size">{{size}} items per page</option>
        </select>
    </div>
</form>

<!--  
  <ng-template #infoModal let-modal>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-basic-title">Station info</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="center-bold-blue">
          Station name: {{selectedStation.name}}
        </div>
      </div>
      <hr>
      <div class="container span3">
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Period (YYYY-MM)</th>
            <th scope="col">Average distance from station, km</th>
            <th scope="col">Average distance to station, km</th>
            <th scope="col">Popular destinations</th>
            <th scope="col">Popular departures</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let info of periodStationInfo">
            <th scope="row">{{info.period}}</th>
            <td>{{info.stationInfo.averageStartDistance | number}}</td>
            <td>{{info.stationInfo.averageEndDistance | number}}</td>
            <td>{{joinStations(info.stationInfo.top5Destinations)}}</td>
            <td>{{joinStations(info.stationInfo.top5Departures)}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
    </div>
  </ng-template>
  -->