<app-menu (featureSelected)="onNavigate($event)"></app-menu>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-dxcc-state *ngIf="loadedFeature === 'dxcc-state'"></app-dxcc-state>
      <app-qso-mgmt *ngIf="loadedFeature === 'qso-mgmt'"></app-qso-mgmt>
      <app-filter-mgmt *ngIf="loadedFeature === 'filter-mgmt'"></app-filter-mgmt>
      <app-notifications *ngIf="loadedFeature === 'notifications'"></app-notifications>
      <app-user-profile *ngIf="loadedFeature === 'user-profile'"></app-user-profile>
      <app-administration *ngIf="loadedFeature === 'administration'"></app-administration>
    </div>
  </div>
</div>